# Being an admin also gives you global code ownership.
*                   @google/go-tpm-admin

# The TPM 1.2 maintainers own the TPM 1.2 files. If this is updated, the access
# permissions to the repository should also be updated.
/tpm/               @zaolin @flanfly @ChriMarMe @google/go-tpm-admin
/examples/tpm-*/    @zaolin @flanfly @ChriMarMe @google/go-tpm-admin
/tpm2/              @alexmwu @jkl73 @google/go-tpm-admin
